/* Multi-Page Styles */

body {
   background-color: #706F6F;
   color: #011627;
}

/* Home Page Styles */

#dogImg {
   background-position: center;
   background-attachment: fixed;
   background-size: contain;
   background-repeat: no-repeat;
}

#homeWrapper {
   display: flex;
   justify-content: flex-end;
}

#settings {
   width: 33px;
}

#settings img {
   width: 100%;
}

/* Settings Page Styles */

#home {
   cursor: pointer;
}

.hidden {
   display: none;
}

#settingsWrapper {
   display: flex;
   flex-wrap: wrap;
   }

h1, #searchWrapper {
   text-align: center;
}

h1, #searchWrapper, #breedPreview, h2, #chosenBreeds {
   width: 100%;
}

#previewWrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

h2 {
   margin-bottom: 0;
}

#removeBreed {
   margin-top: 3px;
   background-color: #FF331F;
   border: 2px solid #7A0A00;
   color: #CCDDE2;
}