body {
   display: flex;
   justify-content: flex-end;
   background-color: #cccccc;
}

#dogImg {
   background-image: url("/RanDog/images/Vizsla-Placeholder.jpg");
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
}

#settings {
   width: 3.5%;
}

#settings img {
   width: 100%;
}

#wrapper {
    margin: 0 30% 0 0;
   }

h1 {
   margin-bottom: 0;
}

#searchWrapper {
   width: 90%;
   margin: auto;
}

input {
   margin: 15px 15px;
   width: 90%;
}

#breedSelect, #removeBreed {
   margin: auto;
}


#home {
   margin-left: -80%;
   cursor: pointer;
}