body {
   background-color: #706F6F;
}

#dogImg {
   background-position: center;
   background-attachment: fixed;
   background-size: contain;
   background-repeat: no-repeat;
}

#homeWrapper {
   display: flex;
   justify-content: flex-end;
}

#settings {
   width: 33px;
}

#settings img {
   width: 100%;
}

#wrapper {
    margin: 0 30% 0 0;
   }

h1 {
   margin-bottom: 0;
}

#searchWrapper {
   width: 90%;
   margin: auto;
}

input {
   margin: 15px 15px;
   width: 60%;
}

#breedSelect, #removeBreed {
   margin: auto;
   display: hidden;
   background-color: #CCDDE2;
   border: 1px solid #CCDDE2;
}


#home {
   margin-left: -80%;
   cursor: pointer;
}

.hidden {
   display: none;
}